body{
    background: #080808;
}



.ps{
    width: 100%; min-width:1080px;
}
.p1{
    width: 100%; height:900px;
    background: url(../image/index/p1.jpeg) no-repeat center center;
    -webkit-background-size:2880px 900px;
    background-size:2880px 900px;
    position: relative;
}
.p2{
    width: 100%; height:900px;
    background: url(../image/index/p2.jpeg) no-repeat center center;
    -webkit-background-size:2880px 900px;
    background-size:2880px 900px;
    position: relative;
    /*cursor: pointer;*/
}
.p3{
    width: 100%; height:900px;
    background: url(../image/index/p3.jpeg) no-repeat top center;
    -webkit-background-size:2880px 900px;
    background-size:2880px 900px;
    position: relative;
    padding-bottom:150px;
    /*cursor: pointer;*/
}
.p4{
    width: 100%; height:900px;
    background: url(../image/index/p4.jpeg) no-repeat center center;
    -webkit-background-size:2880px 900px;
    background-size:2880px 900px;
    position: relative;
    /*cursor: pointer;*/
}
.p5{
    width: 100%; height:900px;
    background: url(../image/index/p5.jpeg) no-repeat center center;
    -webkit-background-size:2880px 900px;
    background-size:2880px 900px;
    position: relative;
    /*cursor: pointer;*/
}
.p6{
    width: 100%; height:650px;
    /*background: url(../image/index/p5.jpeg) no-repeat center center;*/
    /*-webkit-background-size:2880px 900px;*/
    /*background-size:2880px 900px;*/
    position: relative;
}
.p6_fm{
    position: absolute; left:0; top:0; right: 0; bottom:0;
    z-index: 10;
    background: url(../image/index/WechatIMG674.jpeg) no-repeat center center;
    -webkit-background-size:1440px 650px;
    background-size:1440px 650px;
}
.p6_play1{
    display: none;
    width: 200px; height: 30px; line-height: 30px; border:1px solid #fff;
    color: #fff; text-align: center; cursor: pointer; opacity: 0.7;
    position: absolute; left:50%; bottom: 70px; margin-left: -100px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.p6_play:hover{
    opacity: 1;
}
video{
    /*padding-top: 20px;*/
}
.p6_play{
    display: none;
    width: 100px; height: 100px;
    border:10px solid #fff;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border-radius:100px;
    position: absolute; left:50%;
    top:50%; margin: -50px 0 0 -50px;
    cursor: pointer;
}
.p6_play:after{
    content: '';
    position: absolute; left:50%; top:50%;
    margin: -20px 0 0 -10px;
    width: 0; height: 0;
    border-top:20px solid transparent;
    border-bottom:20px solid transparent;
    border-right:30px solid transparent;
    border-left:30px solid #fff;
}


.ps_show_more{
    width: 120px; height: 30px; line-height: 30px;
    border:1px solid #fff; color: #fff; text-align: center;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    position: absolute; left:50%; bottom: 80px;
    margin-left: -78px; cursor: pointer;
}
.ps_show_more1{
    color: #000; border:1px solid #000;
}
.ps_show_more:hover{
    opacity: 0.8;
}
