body{
    background: #080808;
}



.ps{
    width: 100%; min-width:1080px;
}
.p1{
    width: 100%; height:810px;
    background: url(../image/index/p1.jpg) no-repeat center center;
    -webkit-background-size:1438px 810px;
    background-size:1438px 810px;
    position: relative;
}
.p2{
    width: 100%; height:900px;
    background: url(../image/index/p2.jpg) no-repeat center center;
    -webkit-background-size:1440px 900px;
    background-size:1440px 900px;
    position: relative;
    /*cursor: pointer;*/
}
.p3{
    width: 100%; height:1050px;
    background: url(../image/index/p3.jpg) no-repeat top center;
    -webkit-background-size:1440px 900px;
    background-size:1440px 900px;
    position: relative;
    /*cursor: pointer;*/
}
.p4{
    width: 100%; height:850px;
    background: url(../image/index/p4.jpg) no-repeat center center;
    -webkit-background-size:1440px 850px;
    background-size:1440px 850px;
    position: relative;
    /*cursor: pointer;*/
}


.ps_show_more{
    width: 120px; height: 30px; line-height: 30px;
    border:1px solid #fff; color: #fff; text-align: center;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    position: absolute; left:50%; bottom: 80px;
    margin-left: -60px; cursor: pointer;
}
.ps_show_more1{
    color: #000; border:1px solid #000;
}
.ps_show_more:hover{
    opacity: 0.8;
}
