

.p3_page1{
    width: 100%; height: 810px;
    background: url(../image/temp/ygg/ygg1.jpg) no-repeat center center;
    -webkit-background-size:1440px 810px;
    background-size:1440px 810px;
}
.p3_page2{
    width: 100%; height: 845px;
    background: url(../image/temp/ygg/ygg2.jpg) no-repeat center center;
    -webkit-background-size:1440px 845px;
    background-size:1440px 845px;
}

.p3_page3{
    width: 100%; height: 872px;
    background: url(../image/temp/ygg/ygg3.jpg) no-repeat center center;
    -webkit-background-size:1440px 872px;
    background-size:1440px 872px;
}
.p3_page4{
    width: 100%; height: 792px;
    background: url(../image/temp/ygg/ygg4.jpg) no-repeat center center;
    -webkit-background-size:1440px 792px;
    background-size:1440px 792px;
}

