
body{
	font-size: 0.28rem;
	font-family: "microsoft yahei";
	/*background: #f2f5f5;*/
}
.ide_head{
	height: 0.48rem;
	line-height: 0.48rem;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	padding-left: 0.32rem;
	width: 100%;
	font-size: 0.22rem;
	color: #FF8A11;
}

.ide_cont{
	list-style: none;
	width: 100%;
	background: white;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	padding-left: 0.32rem;
}
.ide_cont li{
	padding-right:0.32rem;
	height: 0.88rem;
	line-height: 0.88rem ;
	border-bottom: 1px solid #E7E7E7;
}

.ide_left{
	float: left;
}
.ide_right{
	float: right;
	color: #b6b6b6;
}
.ide_color{
	color: black;
}

b{
	font-weight: normal;
	display: inline-block;
	margin-right: 0.1rem;
	
}

.ide_hide{
	width: 3.3rem;
}
.ide_butt{
	margin: 0.18rem auto;
	background: #007DF2;
	color: #fff;
	font-size: .32rem;
	display: block;
	border: none;
	border-radius: 1rem;
	width: 2.25rem;
	height: .6rem;
	line-height: .6rem;
	text-align: center;
}
.ide_input{
	font-size: 0.28rem;
	height: 0.88rem;
	text-align: right;
}
#papers{
	position: relative;
}
.Select_val{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 0.88rem;
	opacity: 0;
}
#sex{
	position: relative;
}
#birthDay{
	position: relative;
}
.Select_input{
	position: absolute;
	top: 0;
	right: 0;
	width: 5.4rem;
	height: 0.88rem;
	opacity: 0;
}
/*add*/
.bind_card{
	background: #fff;
}
.card_l_li{
	line-height:1rem;
	border-bottom:1px solid #e7e7e7;
}
.card_tab{
	height: 1rem;
	line-height: 1rem;
	font-size: 0;
	border-bottom:1px solid #ececec;
}
.card_tab .on{
	color: #007df2;
	border-bottom:3px solid #007df2;
}
.card_tab span{
	width: 50%;
	text-align: center;
	display: inline-block;
	font-size: .28rem;
	color: #313131;
}
.card_name{
	width: 2rem;
	text-align: center;
	background: url("../images/icon_card1.png") no-repeat .2rem center;
	padding-left:.2rem;
}
.add_Card{
	text-align: center;
	height: 1rem;
	line-height: 1rem;
	border-top:1px solid #ececec;
	border-bottom:1px solid #ececec;
}
.add_Card button{
	background: #007DF2;
	color: #fff;
	font-size: .32rem;
	display: inline-block;
	border:none;
	border-radius: 1rem;
	width: 2.25rem;
	height: .6rem;
	line-height:.6rem;
	text-align: center;
}
.bottom_p{
	/*position: absolute;*/
	/*bottom:.2rem;*/
	/*left: 50%;*/
	/*transform: translateX(-50%);*/
	/*-webkit-transform: translateX(-50%);*/
	font-size: .22rem;
	width: 100%;
	color: #007DF2;
	text-align: center;
	height: .5rem;
	line-height: .5rem;
}
.choose_card_list:first-child{
	border-top:1px solid #ececec;
}
.choose_card_list{
	height: .85rem;
	line-height: .85rem;
	border-bottom:1px solid #ececec;
}
.choose_card_list .choose_name{
	padding-left: .42rem;
	font-size: .32rem;
	color: #313131;
}
.choose_card_list select,.choose_card_list input{
	display: block;
	text-align: right;
	margin-right: .2rem;
	font-size: .28rem;
	color: #aaa;
	direction: rtl;
}
.choose_card_list input{
	font-size: .28rem;
	color: #aaa;
}
.temporary_card_list{
	height: 1rem;
	line-height: 1rem;
}
.temporary_card_list .t_name{
	width: 3.7rem;
	background: url("../images/lin.png") no-repeat .5rem center;
	text-indent: 1.1rem;
}
.temporary_card_list{
	border-bottom:1px solid #ececec;
}
/**/
.not_bind_cart{
	text-align: center;
	padding:.2rem 0;
}
.not_bind_cart p{
	font-size: .22rem;
	color: #b9b9c7;
	/*text-align: center;*/
}
.not_bind_cart a{
	width: 2.1rem;
	height: .55rem;
	border:.03rem solid #007DF2;
	text-align: center;
	display: inline-block;
	font-size: .3rem;
	line-height: .55rem;
	border-radius: 1rem;
	color: #007DF2;
	margin-top: .2rem;
}
.health_span{
	background: #efefef;
	color: #808080!important;
	position: relative;
}
.health_span:after{
	content: '暂未开通';
	position: absolute;
	display: block;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	bottom:.2rem;
	line-height:.05rem;
	font-size: .22rem;
}
.card_hos{
	width: 2.5rem;
}