
body{
	font-size: 0.28rem;
	font-family: "microsoft yahei";
	background: #f2f5f5;
}
.card_cont{
	margin-top: 0.18rem;
	background: white;
	width: 100%;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	padding-left: 0.32rem;
}
.card_cont li{
	padding-right: 0.32rem;
	height: 0.88rem;
	line-height: 0.88rem ;
	border-bottom: 1px solid #E7E7E7;
}
.card_left{
	float: left;
}
.card_right{
	float: right;
}
.card_num{
	color: #b6b6b6;
}
b{
	font-weight: normal;
	display: inline-block;
	margin-right: 0.1rem;
	
}
.foot_butt{
	margin: 0.18rem auto;
	background: #007DF2;
	color: #fff;
	font-size: .32rem;
	display: block;
	border: none;
	border-radius: 1rem;
	width: 2.25rem;
	height: .6rem;
	line-height: .6rem;
	text-align: center;
}
.choose_card_main{
	padding-bottom: .01rem;
}
.ide_input{
	font-size: 0.28rem !important;
	height: 0.88rem !important;
	// line-height: 0.88rem !important;
	text-align: right !important;
}
.ide_inputs{
	font-size: 0.28rem !important;
	height: 0.88rem !important;
	text-align: right !important;
}
#Mdeical_select{
	position: relative;
}
#Mdeical_select select{
	position: absolute;
	width: 5.4rem;
	height: 0.88rem;
	opacity: 0;
	right: 0;
	top: 0;
}