body {
	font-size: 0.28rem;
	font-family: "microsoft yahei";
	background: #f2f5f5;
}

.Myre_cont {
	width: 100%;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	padding-left: 0.32rem;
	margin-top: 0.18rem;
	background: white;
}
.Top span,
.Bottom span {
	display: inline-block;
	margin-right: 0.1rem;
}

.Bottom span {
	margin-right: 0;
}

.Myre_right_1 div,
.Myre_left_1,
.Myre_left_1 img {
	/*display: inline-block;*/
}

.Myre_right_1 {
	line-height: 1.5;
	margin-top: 0.3rem;
}

.Myre_left_1 {
	/*display: block;*/
	margin: 0.3rem;
	width: 0.8rem;
	height: 0.8rem;
	overflow: hidden;
	border-radius: 50%;
	border:1px solid #e7e7e7;
}

.Myre_left_1 img {
	width: 0.8rem;
	// height: 0.8rem;
}

.Myre_cont li {
	border-bottom: 1px solid #E7E7E7;
}

.li_conm {
	height: 0.8rem;
	line-height: 0.8rem;
}

.Myre_center {
	// height: 1.4rem;
}

.Myre_time {
	color: #b6b6b6;
	font-size: 0.24rem;
	border-bottom: 0 !important;
}
.Myre_time .time2{
	position: absolute;
	right: 0.32rem;
}
.Myre_time .time3{
	position: absolute;
	right: 0.32rem;
	color: #FF8A11;
}
.Myre_left {
	float: left;
}

.Myre_right {
	float: right;
}

.Myre_hosname {
	padding-right: 0.32rem;
}

.Myre_color {
	color: #707070 !important;
}

.Myre_succ {
	color: #FF8A11;
}

.Myre_fail {
	color: #b6b6b6;
}

.nodata {
	position: fixed;
	left: 0px;
	width: 60%;
	height: 30%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
}