@charset "utf-8";
body {
	background: #f2f5f5;
}

.Out_Wrap {
	/*margin-top: 0.18rem;*/
	background: url("../images/doctor_bg.jpg") no-repeat;
	min-height:3.3rem;
}

.Out_head {
	width: 100%;
	min-height: 3.3rem;
	-moz-box-align: center;
	 -ms-flex-align: center;
	     align-items: center;
	-webkit-align-items: center;
}

.Out_head .out_img{
	width: 1.3rem;
	height: 1.3rem;
	overflow: hidden;
	border-radius: 50%;
	margin-left: 0.3rem;
	margin-right: 0.3rem;
}
.Out_name {
	width: 40%;
}

.Out_name span {
	display: block;
	line-height: 1.5;
}

.Out_head_img {
	width: 100%;
}

.doc_Head_name {
	font-size: 0.36rem;
	color: #fff;
}

.doc_Head_job {
	font-size: 0.22rem;
	color: #fff;
	opacity: 0.5;
}
.Conmmon span{
	display: block;
}
.span_time{
	display: block;
}
.prompt {
	padding: 0.15rem 0 0.1rem;
	font-size: 0.22rem;
	color: #fff;
	width: 4.5rem;
}

.Out_center {
	height: .9rem;
	width: 100%;
	margin: 0.18rem 0;
	background: white;
	-moz-box-align: center;
	 -ms-flex-align: center;
	     align-items: center;
	-webkit-align-items: center;
	-moz-box-pack: justify;
	 -ms-flex-pack: justify;
	     justify-content: space-between;
	-webkit-justify-content: space-between;
}

.out_left {
	
	margin-left: 0.2rem;
}

.out_left span {
	display: block;
	line-height: 2;
}

.hos_name {
	font-size: 0.28rem;
}
.hos_name em{
	font-style: normal;
	color: #999999;
}
.hos_obj {
	font-size: 0.24rem;
	color: #b6b6b6;
}

.out_right {
	margin-right: 0.3rem;
}


/*.out_right img{
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);		
	-webkit-transform: rotate(90deg);		
	-moz-transform: rotate(90deg);		
}*/

.Footer ul {
	width: 100%;
	-moz-box-pack: start;
	 -ms-flex-pack: start;
	     justify-content: flex-start;
	-webkit-justify-content: flex-start;
}

.foot_con {
	width: 100%;
	height: 0.83rem;
}

.Footer li {
	height: 0.83rem;

}
.br_right{
	border-right: 1px solid #e7e7e7!important;
}
.Conmmon {
	width: 0.83rem;
}

.Footer {
	height:3.9rem;
	font-size: 0.24rem;
}

.Footer_ul1 {
	background: #fff;
	/*border-top: 1px solid #e7e7e7;*/
}

.Footer_ul1,
.FirstLi {
	color: #8d8d8d;
}

.Foot_li1 {
	text-align: center;
}

.Background {
	/*background: white;*/
	border: 1px solid #e7e7e7;
	border-right: none;
}

.FirstLi,
.Footer_div {
	/*background: #fff;*/
	border-bottom: 1px solid #e7e7e7;
}

.FirstLi {
	width: 0.59rem!important;
	border: 1px solid #e7e7e7;
	border-right: none;
}

.Footer_div {
	height: 0.4rem;
	width: 100%;
}

.Footer_div span {
	width: 0.12rem;
	height: 0.12rem;
	border-radius: 0.06rem;
	background: #e1e1e1;
	display: inline-block;
}

.Foot_center {
	margin: 0 0.1rem;
}

.swiper-container {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	z-index: 1;
	height:100%;
}

.swiper-wrapper {
	position: relative;	
}
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    /*border-radius: 100%;*/
    background: #46525B;
    /*opacity: .2;*/
}
.swiper-pagination {
	position: absolute;
	text-align: center;
	transition: .3s;
	-webkit-transform: translate3d(0, 0, 0);
	line-height: 0.5rem;
	height: 0.5rem;
	background: #fff;
	transform: translate3d(0, 0, 0);
	z-index: 10;
	bottom: 10px;
    left: 0;
    width: 100%;
	border-top:1px solid #e7e7e7;
}
.border_none{
	border:none!important;
}
.shadow_bg{
	background: #fff url("../images/shadow.png") no-repeat top;
}
.swiper-pagination .swiper-pagination-bullet {
    margin: 0 5px;
}
.swiper-pagination.swiper-pagination-hidden {
	opacity: 0
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007DF2;
}
/*预约选中状态*/

.Foot_active {
	/*background: #FD9426 !important;*/
	background:-webkit-linear-gradient(52deg,#12b4ff,#007df2);/*Mozilla*/
	background:-moz-linear-gradient(52deg,#12b4ff,#007df2);/*Mozilla*/
	color: white !important;
}


/*预约选中状态-end*/


/*切换页面的选中状态*/

._Activ {
	background: #29BAEC !important;
}


/*切换页面的选中状态-end*/


/*门诊排班弹出层*/

.hos_hidden {
	width: 100%;
	height: 100%;
}

.hos_modal {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	background: black;
	opacity: 0.5;
	overflow: hidden;
}

.li_time,
.choose1 {
	font-size: 0.28rem;
	color: #b6b6b6;
}

.choose1 {
	letter-spacing: 0.1rem;
}

.hos_cont {
	position: fixed;
	bottom: 0;
	width: 100%;
	/*height: 3.3rem;*/
	z-index: 10000;
	opacity: 1;
	background: white;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
}

.li_com {
	font-size: 0.32rem;
}

.li_com span {
	display: inline-block;
}

.li_mon {
	color: #FF8A11;
}

.choose2 {
	font-size: 0.28rem;
}

b {
	font-weight: normal;
}

.hos_choose {
	width: 1.7rem !important;
	height: 1rem;
	border:1px solid darkgrey;
	margin: 0.1rem 0 0.1rem 0.3rem;
	border-radius: 5px;
	line-height: 1.5;
	display: inline-block;
}

.hos_choose span {
	display: block;
	text-align: center;
	width: 100%;
}

.head_ul {
	height: 1rem;
	line-height: 1.5;
	width: 100%;
}

.head_ul li {
	width: 100%;
	text-align: center;
}

.head_modal {
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	/*height: 2.42rem;*/
	width: 100%;
	padding-top: 0.2rem;
}

.foot_modal {
	height: 0.88rem;
	width: 100%;
	text-align: center;
	line-height: 0.88rem;
	font-size: 0.32rem;
	color: #29BAEC;
	background: #f0f0f0;
}

.hos_hidden {
	display: none;
}


/*门诊排班弹出层-end*/

/*新增*/
.__doc_info{
	margin-bottom:.18rem;
}
.rule,.__doc_info{
	min-height: .9rem;
	width: 100%;
	background: #fff;
	/*margin-bottom:.18rem;*/
}
.__doc_title{
	padding-left: .2rem;
	font-size: .28rem;
	color: #434343;
}
.rule_title{
	padding-left: .2rem;
	font-size: .28rem;
	color: #434343;
}
.rule_info{
	text-align: right;
	padding-right:.2rem;
	font-size: .24rem;
	color: #007DF2;
}
.__doc_txt{
	font-size: .24rem;
	color: #434343;
	padding:.2rem;
}
.rule_show{
	background: white;
	display: none;
	/*height: 7.38rem;*/
	width: 6rem;
	border-radius: 0.35rem;
	-webkit-border-radius: 0.35rem;
	position: fixed;
	z-index: 9999;
	left: 50%;
	top: 50%;
	margin-left: -3rem;
	margin-top: -3.69rem;
}
.rule_mask{
	display: none;
	background: black;
	height: 100%;
	width: 100%;
	opacity: 0.5;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
}
.headpp{
	height: 0.68rem;
	width: 100%;
}
.rule_txt{
	font-size: .28rem;
	padding:0 .3rem;
	text-align: left;
	color: #999;
	margin-top: .3rem;
}
.rule_txt p{
	font-size: .24rem;
	/*text-align: left;*/
}
.Bottombutt2 {
	height: 1.4rem;
	line-height: 1.4rem;
	border-top: 2px solid #eeeeee;
	margin-top: 0.2rem;
}
.imgWrap2 img{
	width: 50%;
}
.Bottombutt2 button {
	font-size: 0.28rem;
	height: 0.7rem;
	width: 2.4rem;
	text-align: center;
	line-height: 0.7rem;
	border: 0.03rem solid #007DF2;
	color: #007DF2;
	border-radius: 0.35rem;
	-webkit-border-radius: 0.35rem;
	background: white;
}
.__time{
	text-align: center;
	font-size: .28rem;
	color: #434343;
	padding:.2rem 0;
	background:#fff;
}
._time_day{
	text-align: center;
}